body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* typography */
body,
p,
ul, ol {
    letter-spacing: 0.02em;
}

p, ul, ol {
    font-weight: 300;
    margin-bottom: 1.5em;
}

.header__tagline {
    text-transform: lowercase;
}

/* headings */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    color: #2F2F31;
}

.single p a {
    font-weight: normal;
}

#site-header,
.single p a.button,
.button {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.single p a.button,
.button {
    background-color: #2F2F31;
    border: 2px solid #2F2F31;
    font-weight: 600;
}

/* posts */

.blog-post__content {
    font-weight: 300;
}

.single p {
    line-height: 1.8;
}

.single blockquote p {
    border-left: 3px solid #CCCCCC;
    padding: 10px 20px;
}

/* footnotes */
.footnotes ol {
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}