body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header__tagline {
    text-transform: lowercase;
}

/* headings */
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
    color: #2F2F31;
}

#site-header,
.single p a.button,
.button {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 1600px) {
    .header__tagline {
        font-size: 18px;
    }
    
    .page, .page__content {
        width: 90%;
    }
}
/* footnotes */
.footnotes ol {
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}