$text-red-color: #9a3135;
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    &,
    a {
        &, &:hover {
            color: #2F2F31;
        }
    }
}

hr.cross {
    background: none;
    border: none;
    color: $text-medium-color;
    font-size: $p-large;
    font-style: normal;
    padding-bottom: 1.8em;
    text-align: center;
}

hr.cross::after {
    content: "\2722\2722\2722";
}

hr {
    background-color: $border-color;
    border: 0 none;
    color: $border-color;
    height: 1px;
}

p {
    cite {
        border-bottom: 1px dotted;
    }
}

p, ul, ol {
	margin-top: 15px;
	font-size: $p-small;
	font-weight: $p-weight;
	line-height: $p-lineheight;
	letter-spacing: $p-spacing;

	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}

	strong {
		font-weight: $bold-weight;
	}

	&:first-child {
		margin-top: 0;
	}
}

ul, ol {
    list-style-position: outside;

    li {
        padding-bottom: 0.8em;
        padding-left: 5px;

        a {
            font-weight: $regular-weight;
        }
    }
}

