$selection-color: #fefec4;
::selection 	 { background: $selection-color; color: $text-medium-color; }
::-moz-selection { background: $selection-color; color: $text-medium-color; }

h3 a {
    font-weight: 400;
}

.blog-post {
	margin-top: 2em;
}

.entry-list {
    .blog-post__content {
        p {
            &:last-of-type {
                &:after {
                    border-bottom: 1px solid $border-color;
                    content: ""; /* This is necessary for the pseudo element to work. */ 
                    display: block; /* This will put the pseudo element on its own line. */
                    margin: 2.5em auto 0 auto;
                    width: 100%; /* Change this to whatever width you want. */
                }
            }
        }
    }
}


.blog-post__image {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.single-blog-post {
    p {
        margin-bottom: 1.5em;
    }
}

.single-blog-post__subscribe {
    margin-top: 3em;
}