$selection-color: #fefec4;
::selection 	 { background: $selection-color; color: $text-medium-color; }
::-moz-selection { background: $selection-color; color: $text-medium-color; }

h3 a {
    font-weight: 400;
}

.blog-post {
	margin-top: 2em;
}

.entry-list {
    .entry-sep {
        background-color: $border-color;
        border: 0 none;
        color: $border-color;
        height: 1px;
    }
}


.blog-post__image {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.single-blog-post {
    p {
        margin-bottom: 1.5em;
    }
}

.single-blog-post__subscribe {
    margin-top: 3em;
}