$selection-color: #fefec4;
::selection 	 { background: $selection-color; color: $text-medium-color; }
::-moz-selection { background: $selection-color; color: $text-medium-color; }

h3 a {
    font-weight: 400;
}

@media 
only screen and (min-width: $break-tabletp),
only screen and (min-width: $break-tabletl),
only screen and (min-width: $break-laptop),
only screen and (min-width: $break-desktop) {
    .blog-post {
        margin-top: 40px;
    }
}

.single-blog-post {
    p {
        margin-bottom: 1.5em;
    }
}