.wrap-collection {
    .collection-header {
        margin-bottom: 4em;
    }
    .collection-intro {
        font-style: italic;
        margin-top: 2em;
    }

    .collection-item:not(:first-child) {
        .blog-post__content {
            margin-top: 1.8em;
        }
    }

    .item-content-preview {
        .collect-content-preview & {
            font-style: italic;
        }
    }
}