$anchor-color: $text-dark-color;
$font-family-sans: "Montserrat", Helvetica, Arial, sans-serif;

.button {
    font-family: $font-family-sans;
}

.header__tagline {
    text-transform: lowercase;
    @media only screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.latest-section {
    margin-bottom: 4.5em;

    &:first-of-type {
        margin-top: 2em;
    }

    .blog-post {
        margin-bottom: 4.5em;
    }

    $multiplier: 1;
    .blog-post__title {
        font-size: $h2-small * $multiplier;
        font-weight: 700;

        @include mq(tabletp){
            font-size: $h2-medium * $multiplier;
        }
        @include mq(tabletl) {
            font-size: $h2-medium * $multiplier;
        }
        @include mq(laptop) {
            font-size: $h2-large * $multiplier;
        }
        @include mq(desktop) {
            font-size: $h2-large * $multiplier;
        }
    }

    .blog-post__subtitle {
        font-family: $title-font;

        $multiplier: 0.7;
        font-size: $p-small * $multiplier;
        @include mq(tabletp){
            font-size: $p-medium * $multiplier;
        }
        @include mq(tabletl) {
            font-size: $p-medium * $multiplier;
        }
        @include mq(laptop) {
            font-size: $p-large * $multiplier;
        }
        @include mq(desktop) {
            font-size: $p-large * $multiplier;
        }

        text-transform: uppercase;
    }

    .blog-post__content {
         margin-top: 0.8em;

         p {
            font-weight: 300;
         }
    }
}

.latest-section__header {
    color: $text-medium-color;
    font-weight: 700;
    text-transform: uppercase;

    &:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        width: 8%; /* Change this to whatever width you want. */
        padding-top: 10px; /* This creates some space between the element and the border. */
        border-bottom: 3px solid $text-medium-color;
    }

    $multiplier: 0.5;
    font-size: $h1-small * $multiplier;
    @include mq(tabletp){
        font-size: $h1-medium * $multiplier;
    }
    @include mq(tabletl) {
        font-size: $h1-medium * $multiplier;
    }
    @include mq(laptop) {
        font-size: $h1-large * $multiplier;
    }
    @include mq(desktop) {
        font-size: $h1-large * $multiplier;
    }
}

.menu__list {
    line-height: 1.35em;

    .menu__list__item {
        margin-bottom: 5px;
    }
}

.page, .page__content {
    @media only screen and (min-width: 1600px) {
        width: 90%;
    }
}

.single {
    blockquote {
        p {
            border-left: 3px solid #CCCCCC;
            font-family: $body-font;
            font-weight: 300;
            line-height: 1.8em;
            padding: 10px 20px;
        }
    }
    p a {
        color: $anchor-color;
        border-bottom: 1px solid $anchor-color;
        font-weight: normal;

        .button {
            font-family: $font-family-sans;
        }
    }
    sup a.footnote {
        display: unset;
    }
    ul, ol {
        margin-bottom: 1.5em;
        padding-left: 1.6em;
    }
}

#site-header {
    font-family: $font-family-sans;
}

.button, .single p a.button {
    background-color: #2F2F31;
    border: 2px solid #2F2F31;
    font-weight: 600;
}

/* footnotes */
.footnotes {
    ol {
        border-top: 1px solid #DDDDDD;
        padding-top: 20px;
    }
}