$anchor-color: $text-dark-color;

.single {
    blockquote {
        p {
            border-left: 3px solid #CCCCCC;
            font-family: $body-font;
            font-weight: 300;
            line-height: 1.8em;
            padding: 10px 20px;
        }
    }
    p a {
        color: $anchor-color;
        border-bottom: 1px solid $anchor-color;
        font-weight: normal;
    }
    sup a.footnote {
        display: unset;
    }
    ul, ol {
        margin-bottom: 1.5em;
    }
}

.button, .single p a.button {
    background-color: #2F2F31;
    border: 2px solid #2F2F31;
    font-weight: 600;
}

/* footnotes */
.footnotes {
    ol {
        border-top: 1px solid #DDDDDD;
        padding-top: 20px;
    }
}