// - - - - - - - - - - - - - - - - - -

// Form

// - - - - - - - - - - - - - - - - - -
.form__wrapper {
	background: $background-alt-color;
	font-family: $title-font;
	margin: 20px auto;
	width: 100%;
	padding: 20px;

	@include mq(tabletp) {
		margin: 30px auto;
		padding: 40px;
	}

	@include mq(tabletl) {
		max-width: calc(80% + 80px);
	}

	@include mq(laptop) {
		margin: 40px auto;
		max-width: calc(75% + 100px);
		padding: 50px;
	}

	@include mq(desktop) {
		max-width: calc(70% + 120px);
		padding: 60px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.form__section {
	&:after {
		border-bottom: 1px solid $border-color;
		content: ""; /* This is necessary for the pseudo element to work. */ 
		display: block; /* This will put the pseudo element on its own line. */
		margin: 2.5em auto 0 auto;
		width: 100%; /* Change this to whatever width you want. */

		@include mq(tabletp) {
			margin: 4.5em auto 0 auto;
		}
		@include mq(laptop) {
            max-width: $max-width-laptop;
        }
        @include mq(laptop-retina) {
            max-width: $max-width-retina;
        }
		@include mq(desktop) {
			max-width: $max-width-desktop;
		}
	}
}

.form__description {
	margin: 0 auto;
	text-align: center;

	span {
		display: block;
		margin-top: 10px;
	}

	span:last-of-type {
		margin-bottom: 20px;
	}
}

.form__item {
	margin-top: 15px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 30px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.form__item--error {

	.form__input,
	.form__textarea {
		border-color: $error-color;
	}
}

.form__label {
	display: block;
	font-size: $p-small;
	font-weight: $bold-weight;
	color: $text-medium-color;

	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}
}

.form__input,
.form__textarea {
	width: 100%;
	margin-top: 8px;
	border: 2px solid $border-color;
	border-radius: 2px;
	padding: 10px 12px;
	background: $background-color;
	font-size: $p-small;
	line-height: 1.4;
	color: $text-dark-color;
	@include transition(all 0.15s ease-in-out);

	@include mq(tabletp) {
		padding: 15px 18px;
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}

	&:focus {
		outline: none;
		border-color: $accent-color;
	}
}

::-webkit-input-placeholder {
	color: lighten($text-light-color,3%);
}
::-moz-placeholder {
	color: lighten($text-light-color,3%);
}
:-ms-input-placeholder {
	color: lighten($text-light-color,3%);
}
:-moz-placeholder {
	color: lighten($text-light-color,3%);
}

.form__textarea {
	min-height: 200px;
	resize: none;
}