<div class="rw-newsletter-sub d-flex border-top">
    <div class="mx-auto mt-5 border rounded-2 rw-bg-light py-4 px-lg-5 text-center">
        <img class="rw-newsletter-logo d-block mx-auto rounded-circle" src="{{ site.data.newsletter.logo }}" alt="newsletter logo" width="100" height="100" loading="lazy">
        <h1 class="rw-newsletter-title">{{ site.data.newsletter.title }}</h1>
        <span class="lead mt-3">
            Want to keep up with my writing?<br>
            Get updates delivered to your inbox.
        </span>
        <iframe
        scrolling="no"
        style="width:100%!important"
        src="https://buttondown.email/ryanwentzel?as_embed=true"
        title="The Weary Pilgrim Newsletter Subscription Form"
        loading="lazy">
        </iframe>
        <p>It's free. No spam. No ads. I promise.</p>
    </div>
</div>
