---
layout: default
is_home: true
---

{% for post in paginator.posts %}
<article class="entry index-entry">
	<header>
		<h1 class="entry-title">
			<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		</h1>
		<div class="entry-meta">
			<span>By {{ site.author.name }}</span>&nbsp;|&nbsp;
			<span class="entry-date">{{ post.date | date: '%B %d, %Y' }}</span>
		</div>
	</header>

	<div class="entry-content">
	{{ post.content }}
	</div>

	<footer class="entry-footer">
		{% comment %}
		<div class="entry-sharing">
			<ul class="list-inline">
				<li>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
			</ul>
		</div>
		{% endcomment %}
	</footer>
</article>
{% endfor %}

<div class="pagination-custom container">
	<div class="alignleft pagination-item older">
	    {% if paginator.next_page %}
		<a href="{{ site.baseurl }}/page/{{paginator.next_page }}">&larr; Older</a>
		{% endif %}
	</div>
	<div class="alignright pagination-item newer">
	    {% if paginator.previous_page %}
	      {% if paginator.page == 2 %}
	        <a href="{{ site.baseurl }}/">Newer &rarr;</a>
	      {% else %}
	        <a href="{{ site.baseurl }}/page/{{ paginator.previous_page }}">Newer &rarr;</a>
	      {% endif %}
	    {% endif %}
	</div>
</div>
