<img class="alignleft profile-img" src="{{ site.url }}{{ site.baseurl }}/public/images/profile-color-78x78.jpg" />
<p>
  I am a husband, father of five, and a pastor at <a href="https://grcbible.org/" target="_blank" title="A Reformed Baptist church in Escondido, CA">Grace Bible Church</a> in Escondido, CA. Follow
  me on <a href="{{ site.author.instagram }}" title="Follow @{{ site.author.instagram_handle }} on Instagram" target="_blank">Instagram</a>
  or <a href="{{ site.author.twitter }}" target="_blank" title="Follow @{{ site.author.twitter_handle }} on Twitter">Twitter</a>.
</p>
