<article class="blog-post">
    <div class="blog-post__header">
        <h2 class="blog-post__title"><a href="{{ include.entry.url | absolute_url }}" title="Read the full article">{{ include.entry.title }}</a></h2>
    </div>
    {%- if include.entry.featured_image -%}
    {%- include featured-image.html item=include.entry -%}
    {%- endif -%}
    <div class="blog-post__content">
        <p>{{ include.entry.excerpt }}</p>
        <p><a class="button" title="Read the full article" href="{{ include.entry.url | absolute_url }}">Read More</a></p>
    </div>
    <hr class="entry-sep" />
</article>