{%- unless include.entry.display_featured_image == false -%}
{%- if include.entry.featured_image -%}
{%- assign alt_text = include.entry.featured_image_alt | default: include.entry.featured_image_caption | strip_html -%}
<figure class="article-graphic">
    <img src="{{ include.entry.featured_image }}" alt="{{ alt_text }}" />
    {%- if include.entry.featured_image_caption -%}
    <figcaption class="article-graphic-caption">{{ include.entry.featured_image_caption }}</figcaption>
    {%- endif -%}
</figure>
{%- endif -%}
{%- endunless -%}