<footer class="site-footer container">
	<section class="pull-left">
		<ul class="list-inline">
			<li>&copy; {{ site.author.name }}</li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/about/">About</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/contact/">Contact</a></li>
		</ul>
	</section>
	<section id="connect" class="pull-right">
		<div class="social-icons">
			<ul class="list-inline">
				<li>
					<a href="{{ site.rss_url }}">
						<i class="fa fa-rss"></i>
					</a>
				</li>
				<li>
					<a href="{{ site.url }}{{ site.baseurl }}/contact/">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
				<li>
					<a href="{{ site.author.twitter }}">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="{{ site.author.github }}">
						<i class="fa fa-github"></i>
					</a>
				</li>
			</ul>
		</div>
	</section>
</footer>
