<footer class="site-footer">
	<section class="pull-left">
		<div>
			&copy; {{ site.author.name }}
		</div>
	</section>
	<section id="connect" class="pull-right">
		<div class="social icons">
			<ul class="list-inline">
				<li>
					<a href="#">
						<i class="fa fa-rss"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-github"></i>
					</a>
				</li>
			</ul>
		</div>
	</section>
</footer>