<footer class="container" role="contentinfo">
	{% if page.title != "About" %}
	<div class="about-container">
		<div id="about">
			<h4>About Ryan Wentzel</h4>
			<img class="alignleft about-photo" src="{{ site.baseurl }}/public/images/profile-color-125x125.jpg" alt="Ryan Wentzel" />
			I’m a Christian, family man, software developer, and a pastor at <a href="http://www.grcbible.org/">Grace Bible Church</a> in Escondido, CA. I'm also a student at <a href="http://www.rbseminary.org/">Reformed Baptist Seminary</a>.
			<a href="{{ site.baseurl }}/about/" title="About Ryan Wentzel">Keep reading &rarr;</a>
		</div>
	</div>
	{% endif %}
	<div class="social-container social-icons">
		<h4>Connect</h4>
		<ul>
			<li><a class="symbol" href="{{ site.rss_url }}" title="RSS">circlerss</a></li>
			<li><a class="symbol" href="{{ site.baseurl }}/contact/" title="Email">circleemail</a></li>
			<li><a class="symbol" href="{{ site.twitter }}" title="Twitter" target="_blank">circletwitter</a></li>
			<li><a class="symbol" href="{{ site.flickr }}" title="Flickr" target="_blank">circleflickr</a></li>
			<li><a class="symbol" href="{{ site.github }}" title="Github"target="_blank">circlegithubalt</a></li>
		</ul>
	</div>
	
	<div class="clear"></div>
</footer>