<head>
	{% if page.title == "Home" %}
	{% assign is_home_page = true %}
	{% assign page_title = site.title | append: ' - ' | append: site.tagline %}
	{% assign page_url = site.baseurl | append: '/' %}
	{% else %}
	{% assign is_home_page = false %}
	{% assign page_title = page.title | append: ' - ' | append: site.title %}
	{% assign page_url = site.baseurl | append: page.url %}
	{% endif %}
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	{% if is_home_page == true %}
    <meta name="description" content="{{ site.description | xml_escape }}">
	{% elsif page.excerpt %}
	<meta name="description" content="{{ page.excerpt | strip_html | xml_escape }}">
	{% endif %}
	
	{% if is_home_page == true %}
    <link rel="canonical" href="{{ site.baseurl }}/">
	{% else %}
	<link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
	{% endif %}

	<meta name="author" content="{{ site.author.name }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="{{ site.baseurl }}/images/site/rwlogo.png">
	<meta property="og:type" content="blog">
	<meta property="og:title" content="{{ page_title }}">
	<meta name="og:url" href="{{ page_url }}">
	{% if is_home_page == true % and site.keywords %}
	<meta name="keywords" content="{{ site.keywords }}">
	{% elsif page.keywords %}
	<meta name="keywords" content="{{ page.keywords }}">
	{% endif %}
	
    <!-- Custom CSS -->
    {% include css.html %}
    {% include author-links.html %}
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
	
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.rss_url }}">
    {% include ga.html %}
</head>
