<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ site.data.cdn.url }}/assets/img/brand/favicon.ico">
    <meta name="robots" content="{{ page.robots | default: 'index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'}}">
    {% include head/meta-title.html %}
    {% include head/meta-description.html -%}
    <link rel="canonical" href="{% include canonical-url.html %}">
    {% include head/pagination.html -%}
    <meta name="author" content="{{ site.data.profile.name }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.data.feeds.main | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="Commonplace — {{ site.title | escape }}" href="{{ site.data.feeds.commonplace | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to {{ site.data.podcast.name }}" href="{{ site.data.podcast.rss_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.cdn.img_assets_url }}/brand/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.data.cdn.img_assets_url }}/brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.data.cdn.img_assets_url }}/brand/favicon-16x16.png">
    <link rel="icon" href="{{ site.data.cdn.img_assets_url }}/brand/favicon.ico" />
    <link rel="mask-icon" href="{{ site.data.cdn.img_assets_url }}/brand/safari-pinned-tab.svg" color="#7e9296">
    <link rel="manifest" href="{{ '/site.webmanifest' | relative_url }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    {% include head/open-graph.html %}
    {% include head/twitter-card.html %}
    {% include head/prefetch.html -%}
    {% include head/styles.html -%}
    {% include head/scripts.html -%}
</head>
