<div class="homepage-section">
    <div class="d-flex flex-wrap gutter-spacious">
        <div class="col-md-6">
            <h2 class="h4 section-heading">Articles</h2>
        {% assign articles = site.articles | sort | reverse %}
        {% for resource in articles limit:3  %}
        {% include article-tease-border.html resource=resource %}
        {% endfor %}
        </div>
        <div class="col-md-6 mt-md-0">
            <h2 class="h4 section-heading">Podcast</h2>
            {% assign talks = site.sermons | sort | reverse %}
            {% for resource in talks limit:3 %}
            {% include article-tease-border.html resource=resource link_text="Listen" %}
            {% endfor %}
        </div>
    </div>
</div>
