{% assign photos = site.photos | sort | reverse -%}
{% unless photos == nil or photos.size == 0 %}
<section class="homepage-section">
    <div class="d-flex section-heading">
        <h2 class="h4 fw-bold col-6">Recent Photos</h2>
        <a class="col-6 ms-auto text-end text-reset text-decoration-none fw-normal" href="{{ '/photos' | relative_url }}">
            View all
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
{% include photos/photostream.html resources=photos %}
</section>
{% endunless -%}