<div class="latest-section">
    <h1 class="latest-section__header">Latest Prayers</h1>
    {%- assign sorted = site.prayers | sort: "date" | reverse -%}
    {%- for item in sorted limit: 5 -%}
    <article class="blog-post">
        <div class="blog-post__header">
            <h2 class="blog-post__title"><a href="{{ item.url | relative_url }}">{{- item.title -}}</a></h2>
        </div>
        {%- include featured-image.html item=item -%}
        <div class="blog-post__content">
            {%- include prayer-preview.html prayer=item -%}
        </div>
    </article>
    {%- endfor -%}
</div>