{%- assign everything = paginator.posts | concat: site.prayers -%}
{%- assign sorted = everything | sort: "date" | reverse -%}
{%- for item in sorted limit:10 -%}
{%- if item.type == "post" -%}
{%- include blog-post.html post=item -%}
{%- else -%}
<article class="blog-post">
    <div class="blog-post__header">
        <h3 class="blog-post__title"><a href="{{ item.url | relative_url }}">{{- item.title -}}</a></h3>
        <p class="blog-post__subtitle">{{- item.date | date: '%B %d, %Y' -}}</p>
    </div>
    {%- include featured-image.html item=item -%}
    <div class="blog-post__content .prayer-excerpt">
        {%- include prayer-content.html prayer=item -%}
    </div>
</article>
{%- endif _%}
{%- endfor -%}
