{% assign resources = include.resources %}
{% assign limit = include.limit | default: 2 %}
{% assign first = resources | first %}
<div class="d-flex flex-wrap gutter-spacious">
    <div class="col-md-7 col-xl-9 resource-col">
        <article class="highlighted-resource py-4 d-flex flex-column border-bottom">
            <a class="d-block col-12 rounded-2 overflow-hidden mb-4" href="{{ first.url | relative_url }}"
            title="{{ first.title }}">
                <img class="d-block d-xl-none w-100 h-auto rounded-2" src="{% include resources/image-sm-url.html resource=first %}" alt="{{ first.img.alt }}" loading="lazy" decoding="async">
                <img class="d-none d-xl-block w-100 h-auto rounded-2" src="{% include resources/image-md-url.html resource=first %}" alt="{{ first.img.alt }}" loading="lazy">
            </a>
            <div class="col-12">
                <h3 class="display-5 fw-black mb-0">
                    <a class="resource-link text-reset" href="{{ first.url | relative_url }}">{{ first.title | smartify }}</a>
                </h3>
                <div class="rw-brand-text-muted mb-3">
                    {{ first.date | date: "%B %d, %Y" }}
                </div>
                <div class="resource-text">
                    {{ first.description | default: first.excerpt | markdownify }}
                </div>
                <div class="mt-3">
                    <div class="d-flex align-items-center">
                        <a class="d-inline-block fw-bold text-reset text-decoration-none" href="{{ first.url | relative_url }}">
                            Read
                            <i class="bi bi-arrow-right-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-5 col-xl-3 resource-col">
    {% for resource in resources offset:1 limit:limit %}
        <article class="py-4 d-flex flex-column border-bottom">
            <div class="col-12">
                <h3 class="h4 fw-bold mb-0">
                    <a class="resource-link text-reset" href="{{ resource.url | relative_url }}">{{ resource.title }}</a>
                </h3>
                <div class="rw-brand-text-muted mb-3">
                    {{ resource.date | date: "%B %d, %Y" }}
                </div>
                <div class="resource-text">
                    {{ resource.description | default: resource.excerpt | markdownify }}
                </div>
                <div class="mt-3">
                    <div class="d-flex align-items-center">
                        <a class="d-inline-block fw-bold text-reset text-decoration-none" href="{{ resource.url | relative_url }}">
                            Read
                            <i class="bi bi-arrow-right-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>
</div>