{% assign resources = include.resources %}
{% unless resources == nil or resources.size == 0 %}
{% assign display_img = true %}
{% if include.img != nil %}{% assign display_img = include.img %}{% endif %}
<div class="d-flex flex-wrap gutter-spacious">
{% for resource in resources limit:2 %}
    <article class="d-flex flex-column col-md-6 tease-border-alt--md">
        <div class="py-4 tease-border-alt-inner">
            {% if display_img == true %}
                <a class="d-block col-12 position-relative rounded-2 mb-3 overflow-hidden" href="{{ resource.url | relative_url }}"
                title="{{ resource.title }}">
                    <img class="d-block w-100 height-auto cover-img rounded-2" src="{{ resource.img.url }}"
                    {% unless resource.img.alt == empty %}
                    alt="{{ resource.img.alt }}"
                    {% endunless %} loading="lazy">
                </a>
            {% endif %}
            <h3 class="h4 fw-bold tracking-tight mb-2">
                <a class="resource-link text-reset" href="{{ resource.url | relative_url }}">{{ resource.title | smartify }}</a>
            </h3>
            <div class="resource-text">
                {{ resource.description | default: excerpt | markdownify }}
            </div>
            <div class="mt-3">
                <div class="d-flex align-items-center">
                    <a class="d-inline-block fw-bold text-reset text-decoration-none" href="{{ resource.url | relative_url }}">
                        Read
                        <i class="bi bi-arrow-right-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </article>
{% endfor %}
</div>
{% endunless %}