<header class="masthead" role="banner">
	<nav class="navbar navbar-fixed-top navbar-left navbar-light bg-light py-3" role="navigation">
		<div class="d-flex flex-grow-1 justify-content-start">
			<h1 class="site-title">
				<a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
			</h1>
			<div class="w-100 text-right">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		<div class="collapse navbar-collapse flex-grow-1 text-center justify-content-end" id="navbarSupportedContent">
			<ul class="nav navbar-nav ml-auto flex-nowrap">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}{{ sit.baseurl }}/about/">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url }}/{{ site.feed_url }}"><i class="fa fa-rss"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
