<header class="masthead podcast-archive-masthead">
    <div class="container-xl mx-auto pt-5">
        <div class="row px-lg-5 justify-content-between flex-wrap">
            <div class="col-md-7">
                <h1 class="display-3 fw-bold mb-3">{{ page.title | smartify }}</h1>
                <p class="d-none d-md-block fs-4">{{ site.data.podcast.description | smartify }}</p>
                <div class="d-none d-md-block">
                    {% include podcast-sub-dropdown.html %}
                </div>
            </div>
            <div class="col-md d-flex justify-content-end align-self-center">
                <img class="mw-lg-300px d-block rounded-2 img-fluid" src="{{ page.cover_art.url }}">
            </div>
            <div class="col-12">
                <div class="d-block d-md-none mt-3">
                    {% include podcast-sub-dropdown.html %}
                    <p class="mt-3 fs-4">{{ site.data.podcast.description | smartify }}</p>
                </div>
            </div>
        </div>
    </div>
</header>