{% comment %}
<nav class="navbar navbar-custom site-navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-links">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-links">
			<ul class="header-nav nav navbar-nav">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#"><i class="fa fa-rss"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
{% endcomment %}

<nav class="site-navbar" role="navigation">
	<div class="container site-nav-wrap">
		<ul class="site-nav-list list-inline">
			<li><a href="{{ sit.baseurl }}/about/">About</a></li>
			<li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
			<li><a href="{{ site.rss_url }}"><i class="fa fa-rss"></i></a></li>
		</ul>
	</div>
</nav>