<nav id="site-nav" class="navbar bg-light">
    <div class="container-fluid px-lg-3">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img class="d-flex mx-auto" src="{{ site.data.cdn.img_assets_url }}/brand/brand-initial.png" height="32" width="32" alt="Brand icon" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title fw-bold fs-1" id="offcanvasNavbarLabel">{{ site.data.profile.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fw-bold">
            <li class="nav-item">
              <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explore</a>
              <ul class="dropdown-menu border-0">
                <li>
                  <a class="dropdown-item fw-bold text-muted" href="{{ site.data.archive.articles | relative_url }}">Articles</a>
                </li>
                <li>
                  <a class="dropdown-item fw-bold text-muted" href="{{ site.data.archive.prayers | relative_url }}">Prayers</a>
                </li>               
                <li>
                  <a class="dropdown-item fw-bold text-muted" href="{{ site.data.archive.commonplace | relative_url }}">Commonplace</a>
                </li>
                <li>
                  <a class="dropdown-item fw-bold text-muted" href="{{ site.data.archive.field_notes | relative_url }}">Field Notes</a>
                </li>
                <li>
                  <a class="dropdown-item fw-bold text-muted" href="{{ site.data.archive.photos | relative_url }}">Photos</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if page.url == '/podcasts/sermons/index.html' %} active{% endif %}" href="{{ '/podcasts/sermons/' | relative_url }}">Podcast</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if page.url == '/newsletter/index.html' %} active{% endif %}" href="{{ '/newsletter' | relative_url }}">Newsletter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if page.url == '/about' %} active{% endif %}" href="{% link _pages/about.md %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:{{ site.author.email | encode_email }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>