{%- if page.previous.url or page.next.url %}
<!-- Pagination links -->
<div class="d-flex mt-3 pt-4 justify-content-center h3 border-top">Previous / Next</div>
<div class="d-flex flex-wrap gutter-spacious mt-3">
   <div class="d-flex flex-column col-md-6 text-center py-4">
    {%- if page.previous.url and page.previous.date <= site.time %}
    <a class="d-block col-12 position-relative rounded-2 mb-3 overflow-hidden" href="{{ page.previous.url | relative_url }}">
        <img class="d-block w-100 height-auto rounded-2" src="{{ page.previous.img.url_sm | default: page.previous.img.url }}" alt="{{ page.previous.img.alt }}" loading="lazy" decoding="async">
    </a>
    <h4 class="h4 fw-bold tracking-tight mb-2">
        <a class="text-reset text-decoration-none" href="{{ page.previous.url | relative_url }}">{{ page.previous.title | smartify }}</a>
    </h4>
    {%- if page.previous.subtitle %}
    <h5 class="h6 fst-italic">{{ page.previous.subtitle | smartify }}</h5>
    {%- endif %}
    {%- endif %}
   </div>
   <div class="d-flex flex-column col-md-6 text-center py-4">
    {%- if page.next.url and page.next.date <= site.time %}
    <a class="d-block col-12 position-relative rounded-2 mb-3       overflow-hidden" href="{{ page.next.url | relative_url }}">
        <img class="d-block w-100 height-auto rounded-2" src="{{ page.next.img.url_sm | default: page.next.img.url }}" alt="{{ page.next.img.alt }}" loading="lazy" decoding="async">
    </a>
    <h4 class="h4 fw-bold tracking-tight mb-2">
        <a class="text-reset text-decoration-none" href="{{ page.next.url | relative_url }}">{{ page.next.title | smartify }}</a>
    </h4>
    {%- if page.next.subtitle %}
    <h5 class="h6 fst-italic">{{ page.next.subtitle | smartify }}</h5>
    {%- endif %}
    {%- endif %}
   </div>
</div>
{%- endif %}
