{% if page.previous.url or page.next.url %}
<!-- Pagination links -->
<div class="d-flex mt-5 mx-xl-6 px-xl-5">
   <div class="col-6 nextprev px-xl-5">
       {% if page.previous.url %}
       <a rel="prev" class="btn btn-lg btn-secondary fw-bold" href="{{ page.previous.url | relative_url }}"
       title="Previous">
           <i class="bi bi-chevron-left"></i>
           <span class="d-none d-md-inline">Previous</span>
       </a>
       {% else %}
       <a rel="prev" class="disabled btn btn-lg btn-secondary fw-bold" aria-disabled="true">
           <i class="bi bi-chevron-left"></i>
           <span class="d-none d-md-inline">Previous</span>
       </a>
       {% endif %}
   </div>
   <div class="col-6 nextprev text-end px-xl-5">
       {% if page.next.url %}
       <a rel="next" class="btn btn-lg btn-secondary fw-bold"
       href="{{ page.next.url | relative_url }}"
       title="Next">
           <span class="d-none d-md-inline">Next</span>
           <i class="bi bi-chevron-right"></i>
       </a>
       {% else %}
       <a rel="next" class="disabled btn btn-lg btn-secondary fw-bold" aria-disabled="true">
           <span class="d-none d-md-inline">Next</span>
           <i class="bi bi-chevron-right"></i>
       </a>
       {% endif %}
   </div>
</div>
{% endif %}
