{% assign page_url = site.url | append: site.baseurl | append: page.url %}
<footer class="entry-footer clear">
	<section class="entry-footer-author alignleft">
		{% include about.html %}
	</section>

	<section class="entry-footer-sharing alignright">
		<h4>Share this post</h4>
		<ul class="list-inline">
			<li>
				<a target="_blank" href="http://twitter.com/share?url={{ page_url }}&text={{ page.title | uri_escape }}" title="Share on Twitter">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page_url }}" title="Share on Facebook">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>
	</section>
	<span class="clearfix"></span>
</footer>
