{%- assign sorted = site.prayers | sort: "date" | reverse -%}
{%- for prayer in sorted -%}
<article class="blog-post">
    <div class="blog-post__header">
        <h2 class="blog-post__title"><a href="{{ prayer.url | relative_url }}">{{- prayer.title -}}</a></h2>
        <p class="blog-post__subtitle">{{- prayer.date | date: '%B %d, %Y' -}}</p>
    </div>
    {%- include featured-image.html item=prayer -%}
    <div class="blog-post__content .prayer-excerpt">
        {%- include prayer-preview.html prayer=prayer -%}
    </div>
</article>
{%- endfor -%}