<div class="form__content">
    <p class="form__description">
        Sign up to receive the latest content in your inbox. Unsubscribe at any time.
    </p>
    <form action="https://buttondown.email/api/emails/embed-subscribe/ryanlwentzel.com" method="post" class="embeddable-buttondown-form">
        <div class="form__item">
            <input class="form__input" type="email" name="email" id="bd-email" placeholder="Your email (you@example.com)" required />
        </div>
        <input type="hidden" value="1" name="embed" />
        <div class="form__item">
            <input class="button button--large" type="submit" value="Subscribe" />
        </div>
    </form>
</div>