<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.author.twitter_handle }}">
<meta name="twitter:creator" content="@{{ site.author.twitter_handle }}">
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.title %}
<meta name="twitter:url" content="{{ site.baseurl }}{{ page.url }}">
{% else %}
<meta name="twitter:url" content="{{ site.baseurl }}">
{% endif %}
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% elsif page.title %}
<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}