@use "sass:map";
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    
html, body {
    height: 100%;
    min-height: 100vh;
}

.primary-fonts-loaded body {
    font-family: InterVariable, $font-family-sans-serif !important;
}

a {
    text-underline-offset: 5px;
}

a.reversefootnote {
    text-decoration: none;
}

blockquote {
    border-left: 5px solid $colors-brand-subtle;
    color: $gray-600;
    margin-left: 0.25rem;
    padding-left: 1.25rem;
}

blockquote.pull-quote {
    border: none;
    margin-left: 1.75rem;
    margin-right: 1.75rem;

    p {
        color: $black;
        font-size: $font-size-lg * 1.75;
        font-weight: $font-weight-black;

        &:before {
            content: open-quote;
        }

        &:after {
            content: close-quote;
        }
    }
}

.rw-background-img {
    // background-url is set inline in html templates
    background-attachment: local;
    background-blend-mode: multiply;
    background-color: $gray-500;
    background-position: center;
    background-size: cover;
}

.rw-background-img-darker {
    // background-url is set inline in html templates
    background-attachment: local;
    background-blend-mode: multiply;
    background-color: rgba(57,81,89, 0.95);
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.rw-blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.blur {
    filter: blur(4px);
}

.object-cover {
    object-fit: cover;
}

.masthead-img {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    object-fit: cover;
    object-position: center;
    color: transparent;
}

.masthead-overlay {
    align-items: center;
    backdrop-filter: brightness(80%);
    background: rgba(57, 57, 57, 0.5);
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
}

.masthead {
    h1,h2 {
        font-family: $font-family-slab !important;
    }
}

.z-0 {
    z-index: 0;
}

.z-20 {
    z-index: 20;
}

.before::before {
    background-color: rgba(57,81,89, 0.95);
    opacity: 0.8;
    content: "";
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.rw-background-img-alt {
    background-position: center;
    background-size: cover;
}

.rw-brand-text-dark {
    color: $colors-brand-dark;
}

.rw-brand-text-muted {
    color: $colors-brand-muted;
}

.rw-brand-text-subtle {
    color: $colors-brand-subtle;
}

.rw-brand-text-accent {
    color: $colors-brand-accent;
}

.rw-color-fg-muted {
    color: $color-fg-muted;
}

.rw-color-fg-subtle {
    color: $color-fg-subtle;
}

.rw-bg-contrast {
    background-color: $colors-brand-contrast;
}

.fw-black {
    font-weight: $font-weight-black;
}

.rw-subscription-form {
   background-color: #f3f4f6;
}

// Shadows
.shadow-photo {
    box-shadow: 0 1rem 3rem rgba($black, .75);
}

// Height
.h-inherit {
    height: inherit;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%
}

.h-95 {
    height: 95%;
}

// Width
.mw-lg-75 {
    @include media-breakpoint-up(lg) {
        max-width: 75%;
    }
}

.mw-300px {
    max-width: 300px;
}

@include media-breakpoint-between(sm,md) {
    .mw-sm-500px {
        max-width: 500px;
    }
}

@include media-breakpoint-up(lg) {
    .mw-lg-300px {
        max-width: 300px;
    }

    .mw-lg-400px {
        max-width: 400px;
    }
}

// Spacing
@include media-breakpoint-up(md) {
    .gutter-spacious {
        margin-left: 1rem * -1.5;
        margin-right: 1rem * -1.5;
    }
    
    .gutter-spacious > [class*="col-"] {
        padding-left: 1rem * 1.5 !important;
        padding-right: 1rem * 1.5 !important;
    }
}

@include media-breakpoint-up(lg) {
    .gutter-lg-0 {
        padding-right: 0;
        padding-left: 0;
    }
}

.px-xxl-7 {
    @include media-breakpoint-up(xxl) {
        padding-left: 7rem !important;
        padding-right: 7rem !important;
    }
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.my-6 {
    margin-top: $spacer * 6;
    margin-bottom: $spacer * 6;
}

@include media-breakpoint-up(xl) {
    .mx-xl-6 {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

.my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-10 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.mt-6 {
    margin-top: $spacer * 6;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

@include media-breakpoint-up(md) {
    .my-md-6 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
}

.navbar .navbar-toggler {
    border-color: transparent !important;

    &:focus {
        box-shadow: none !important;
    }
}

/* Borders */
.border-md-0 {
    @include media-breakpoint-up(md) {
        border: none !important;
    }
}

/* Display headings */
.display-md-5 {
    @include media-breakpoint-up(md) {
        $size: map.get($display-font-sizes, 5);
        font-size: $size;
    }
}

.display-jumbo {
    $size: map.get($display-font-sizes, 1);
    font-size: $size * 1.125;

    @include media-breakpoint-up(xl) {
        font-size: $size * 2;
    }
}

.offcanvas {
    &.show,
    &.showing {
        .navbar-nav .nav-item {
            font-size: $font-size-lg;
        }
    }
}

.gradient-text {
    background-image: linear-gradient(to right, 
    rgb(36, 147, 239), 
    rgb(168, 85, 247));
    background-clip: text;
    color: rgba(0,0,0,0)
}

/* Homepage, Archives */
.homepage {
    .masthead {
        h1 {
            font-weight: 300 !important;
            line-height: 0.8;
            padding-bottom: 10rem;
        }

        h2 {
            padding-bottom: 10rem;
        }
    }
}
.archive-section,
.homepage-section {
    @include media-breakpoint-up(lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.archive-section ~ .archive-section,
.homepage-section ~ .homepage-section {
    margin-top: 3rem;
}

.widget-section,
.archive-section,
.homepage-section {
    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6,
    .display-1,.display-2,.display-3,
    .display-4,.display-5 {
        line-height: 1.1;
    }

    h3 {
        font-family: $font-family-slab;
    }

    &.wide {
        .resource-description {
            font-size: $font-size-base;
            line-height: 1.5;
        }
    }

    .section-heading {
        border-top: 5px solid $dark;
        border-bottom: 1px solid $color-border-subtle;
        font-weight: bold;
        letter-spacing: -1px;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

    .resource-text p,
    .resource-text ol,
    .resource-text ul {
        line-height: 1.35;
    }

    .resource-link {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    @include media-breakpoint-up(md) {
        .resource-col {
            article:last-of-type {
                border: none !important;
            }
        }
    }
}

// Footer
#footer-inner {
    min-height: 35vh;
}



