.resource-body,
.page-body {    
    p,ol,ul {
        font-size: $font-size-lg;
    }

    p {
        margin-bottom: 1.75rem;
    }

    h1,h2,h3,h4,h5,h6 {
        font-family: $font-family-slab;
    }
    
    h2 {
        font-weight: $font-weight-bold;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    hr {
        border-top-color: $color-border-muted;
    }

    a:hover {
        background: linear-gradient(115deg, #f97794, #6200ff, #3498db);
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

.resource-byline {
    font-size: 0.75rem;
}

a.resource-author {
    color: $colors-brand-muted;
    font-weight: $font-weight-semibold;
    text-decoration: none;
}

.resource-body {
    h2 {
        font-size: $font-size-lg * 1.6;
        font-weight: $font-weight-black;
    }

    h2 ~ h3 {
        margin-top: 2rem;
    }

    h2:has(+ .rubric) {
        margin-bottom: 0.35rem;
    }

    h3 {
        font-weight: $font-weight-bold;
    }

    ul {
        margin-bottom: 2rem;

        li {
            margin-bottom: 1rem;
        }
        
        li:last-child {
            margin-bottom: 0;
        }
    }

    img {
        border-radius: var(--bs-border-radius) !important;
        height: auto;
        max-width: 100%;
    }

    .quote-citation {
        font-size: inherit;
        color: $color-fg-muted;
        margin-top: -1rem;
        margin-bottom: 2rem;
    }

    .rubric {
        font-size: $font-size-base * 0.9;
    }
}
.resource-footer {
    .author-bio {
        font-size: 1rem;
    }
}

.newsletter {
    hr {
        margin-bottom: 2.5rem;
        margin-top: 2.5rem;
    }

    .newsletter-footer {
        margin-top: 2.5rem;
    }
}

.commonplace-body {
    blockquote.pull-quote {
        border: none;
        margin-left: 0;
        padding-left: 0;
        p {
            color: $dark;
            font-size: $font-size-lg * 1.25;
            @include media-breakpoint-up(xl) {
                font-size: $font-size-lg * 2;
            }
            font-weight: $font-weight-bold;
            line-height: 1.2;
    
            &:before {
                content: open-quote;
            }
    
            &:after {
                content: close-quote;
            }
        }
    }
}

.photo-overlay {
    position: absolute;
    background: rgba(57, 57, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-caption {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    transform: scale(0);
    transition: all .3s ease-in-out;
    backdrop-filter: blur(8px) brightness(80%);
    opacity: 0;
}

.overlay-full {
    backdrop-filter: blur(3px) brightness(80%);
    inset: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out;
}

.photo-wrapper:hover .overlay-full {
    opacity: 1;
    transform: scale(1);
}

.photo img {
    animation: img-fade-in 1s;
}

.footnotes {

    &:before {
        content: "";
        border-top: 1px solid var(--bs-border-color);
        display: inline-block;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        width: 100%;
    }
    p, ol, ul {
        font-size: $font-size-base;
    }
}