<div class="border-top">
    <div class="d-flex border w-100 rounded-3 mt-5 p-5 pt-lg-5 shadow justify-content-center">
        <div class="col-12 text-center">
            <h4 class="display-5 fw-bold">Support my writing</h4>
            <p class="lead">
                Even a small gift makes it possible for me to keep sharing content like this with readers like you.
            </p>
            <a class="btn btn-lg btn-primary" href="{{ site.data.profile.support_url }}" target="_blank" rel="noopener noreferrer">
                Donate
            </a>
        </div>
    </div>
</div>