<div class="border-top border-bottom">
    <div class="d-flex w-100 p-5 justify-content-center">
        <div class="col-12 col-lg-9 text-center">
            <h4 class="fw-bold">Support my writing</h4>
            <p>
                Even a small gift makes it possible for me to keep sharing content like this with readers like you.
            </p>
            <a class="btn btn-lg btn-primary" href="{{ site.data.profile.support_url }}" target="_blank" rel="noopener noreferrer">
                Donate
            </a>
        </div>
    </div>
</div>