<script src="{{ site.data.cdn.url }}/assets/js/vendors/ffo@2.3.0/dist/fontfaceobserver.js"></script>
<script>
    function timer(time) {
        return new Promise(function (resolve, reject) {
            setTimeout(reject, time);
        });
    }
    const classNames = {
        primaryLoading: "primary-fonts-loading",
        primaryLoaded: "primary-fonts-loaded",
        primaryFailed: "primary-fonts-failed",
    };
    var sansNormal = new FontFaceObserver("InterVariable");
    var sansItalic = new FontFaceObserver("InterVariable", {
        style: "italic"
    });

    var html = document.documentElement;
    html.classList.add(classNames.primaryLoading);

    sansNormal.load().then(function () {
        console.log("normal font has loaded");
        sansItalic.load().then(function() {
            html.classList.remove(classNames.primaryLoading);
            html.classList.add(classNames.primaryLoaded);
            sessionStorage.primaryFontsLoaded = true;
            console.log("italic font has loaded");
        });
    }).catch(function () {
        sessionStorage.primaryFontsLoaded = false;
        html.classList.remove(classNames.primaryLoading);
        html.classList.add(classNames.primaryFailed);
    });
</script>