$text-red-color: #9a3135;
$anchor-color: $text-medium-color;

.single {
    p a {
        color: $anchor-color;
        border-bottom: 1px solid $anchor-color;
        font-weight: bolder;
    }
    sup a.footnote {
        display: unset;
    }
}

hr.cross {
    background: none;
    border: none;
    color: $anchor-color;
    font-size: $p-large;
    font-style: normal;
    padding-bottom: 1.8em;
    text-align: center;
}

hr.cross::after {
    content: "\2722\2722\2722";
}