p, ul, ol {
	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-medium;
	}
}

.prayer-summary-label {
    font-weight: bolder;
}

.single .prayer-summary {
    font-style: italic;
    font-weight: 300;
}

.single .prayer-summary cite {
    font-style: normal;
    font-weight: bolder;
}

.single .prayer-content {
    margin-top: 20px;
}

.single .collect-content p,
.single .prayer-content p {
    line-height: 1.5em;
}

.single {
    .collect-content,
    .prayer-content {
        p:first-of-type::first-letter {
            color: $text-red-color;
            float: left;
            font-size: 5em;
            margin: 0.295em auto;
            padding-right: 0.05em;
        }
    }
}

@-moz-document url-prefix() {
    .single {
        .collect-content,
        .prayer-content {
            p:first-of-type::first-letter {
                margin: 0.059em auto;
            }
        }
    }
}