<header class="masthead collection-masthead h-100 mb-8 py-5 py-md-3 rw-bg-contrast border-bottom">
    <div class="container-fluid h-100">
        <div class="row flex-wrap justify-content-between align-items-center px-2">
            <div class="col-12">
                <img class="d-inline-block d-md-none img-fluid rounded-2" src="https://cdn.ryanlwentzel.com/assets/img/photos/20240513-IMG_9396.jpg" alt="">
            </div>
            <div class="col-md-5 px-3 px-md-5 py-3">
                <h1 class="fs-6 fw-bold text-secondary text-capitalize">{{ page.title | smartify }}</h1>
                <p class="display-6">{{ page.description | smartify }}</p>
            </div>
            <div class="col-md-7 d-flex justify-content-center align-self-center py-3">
                <img class="d-none d-md-block img-fluid rounded-2 shadow" src="https://cdn.ryanlwentzel.com/assets/img/photos/20240513-IMG_9396.jpg" alt="">
            </div>
        </div>
    </div>
</header>
