<header class="masthead collection-masthead mb-5">
    <div class="container-fluid h-auto z-0 before position-relative">
        <div class="w-100 object-cover">
            <img class="masthead-img" src="{{ page.img.url }}" alt="">
        </div>
        <div class="row flex-wrap justify-content-between text-light h-100 align-items-center p-5 z-20 position-relative">
            <div class="col-md-6 my-8 mx-auto text-center">
                <h1 class="display-2 fw-bold">{{ page.title | smartify }}</h1>
                <p class="collection-description fs-2 lh-sm">{{ page.description | smartify }}</p>
            </div>
        </div>
    </div>
</header>
