<header class="masthead collection-masthead mb-5 rw-background-img-darker h-75" style="background-image: url('{{ page.img.url }}')">
    <div class="container-fluid h-100">
        <div class="row flex-wrap justify-content-between text-light h-100 align-items-center p-5">
            <div class="col-md-6 mx-auto text-center">
                <h1 class="display-2 fw-bold">{{ page.title | smartify }}</h1>
                <p class="collection-description fs-2 lh-sm">{{ page.description | smartify }}</p>
            </div>
        </div>
    </div>
</header>
