<div class="container mx-auto mt-5">
    <div class="row justify-content-center pt-3">
        <div class="col-12 col-lg-10 col-xl-8">
            <h1 class="display-2 fw-bold tracking-tight lh-1 mb-2">{{ page.title | smartify }}</h1>
            {% if page.subtitle %}
            <div class="d-flex">
                <h2 class="col-12 col-lg-10 col-xl-8 fs-5 lead text-muted tracking-tight">{{ page.subtitle | smartify }}</h2>
            </div>
            {% endif %}
            {%- include resource-byline.html %}
        </div>
        <div class="col-12 col-lg-10 col-xl-8 my-4">
            <figure>
                {% include components/img/responsive.html img=page.img 
                    classes="d-block mx-auto shadow rounded fade-in" loading="eager" 
                    fetch_priority="high" %}
                {% if page.img.caption %}
                <figcaption class="mt-2 text-start text-subtle fs-sm pe-2">{{ page.img.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
                {% endif %}
            </figure>
            <hr class="border mx-auto mt-5 w-25 opacity-25">
        </div>
    </div>
</div>
