<header class="masthead">
    <div class="container-fluid p-0">
        <div class="d-flex masthead-img-wrapper min-vh-100 position-relative overflow-hidden">
            <img class="masthead-img d-block w-100 height-auto"
            {%- if page.img.url_lg %}
                srcset="{{ page.img.url_sm }} 854w, {{ page.img.url_md }} 1280w, {{ page.img.url_lg }} 2560w"
                src="{{ page.img.url_lg }}"
            {%- else -%}
                src="{{ page.img.url }}"
            {%- endif %} 
                alt="{{ page.img.alt }}"
                fetchpriority="high"
                loading="eager">
            <div class="masthead-overlay">
                <div class="text-white text-center w-90 w-lg-60">
                    <h1 class="display-3 fw-bold">{{ page.title | smartify }}</h1>
                    {% if page.subtitle %}
                    <h2 class="fs-5 fw-normal">{{ page.subtitle | smartify }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
