<header class="masthead">
    <div class="container-fluid p-0">
        <div class="d-flex masthead-img-wrapper min-vh-100 position-relative overflow-hidden">
            <img class="masthead-img d-block w-100 height-auto"
                src="{{ page.img.url_lg | default: page.img.url }}" 
                alt="{{ page.img.alt }}"
                loading="eager">
            <div class="masthead-overlay">
                <div class="text-white text-center w-90 w-lg-60">
                    <h1 class="display-3 fw-bold">{{ page.title | smartify }}</h1>
                    {% if page.subtitle %}
                    <h2 class="fs-4 fst-italic">{{ page.subtitle | smartify }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
