<figure class="figure">
    <img class="figure-img img-fluid shadow-photo rounded" src="{{ page.img.url }}" alt="{{ page.img.alt }}" title="{{ page.img.title }}"/>
    <figcaption class="figure-caption pt-4 px-md-5">
        <span class="fst-italic">{{ page.img.caption }}</span>, {{ page.img.date | date: "%B %d, %Y" }}, {{ page.img.location }}. {{ page.img.shutter_speed }} sec at {{ page.img.aperture }}, ISO {{ page.img.iso }}, {{ page.img.lens }}, {{ page.img.camera }}. &copy; Ryan Wentzel
    </figcaption>
</figure>
