{% assign checklist = site.data.checklists[page.activity.birds.checklist] %}
<h2>Birds Observed</h2>
<div class="py-3 px-4 border rounded">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Species</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
    {% for row in checklist %}
            <tr>
                <td><small>{{ row.Species | smartify }}</small></td>
                <td><small>{{ row.Count }}</small></td>
            </tr>
    {% endfor %}        
        </tbody>
    </table>
{%if page.activity.birds.url %}
    <a class="btn btn-dark rounded-1" href="{{ page.activity.birds.url }}" target="_blank">
        View at {{ page.activity.birds.service }}
        <i class="bi bi-box-arrow-up-right"></i>
    </a>
{%endif %}
</div>


