---
layout: default
title: All the Things
permalink: /allthethings
sitemap:
    exclude: true
masthead:
  text_only: true
pagination:
    enabled: true
    collection: legacy
    trail:
      before: 1
      after: 3
---
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <ul class="post-list list-unstyled">
        {% for post in paginator.posts %}
          <li class="mb-5">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Pagination links -->
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <nav aria-label="Archives navigation">
        <ul class="pagination">
          {% if paginator.first_page %}
          <li class="page-item">
            <a href="{{ paginator.first_page_path | relative_url }}" class="page-link" aria-label="First">First</a>
          </li>
          {% endif %}
          {% if paginator.previous_page %}
          <li class="page-item">
            <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link" aria-label="Previous">&larr;</a>
          </li>
          {% endif %}
          {% for trail in paginator.page_trail %}
          <li class="page-item{% if page.url == trail.path %} active{%endif %}">
              <a class="page-link" href="{{ trail.path | relative_url | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
          {% if paginator.next_page %}
          <li class="page-item">
            <a href="{{ paginator.next_page_path | relative_url }}" class="page-link" aria-label="Next">&rarr;</a>
          </li>
          {% endif %}
          {% if paginator.last_page %}
          <li class="page-item">
              <a href="{{ paginator.last_page_path | relative_url }}" class="page-link" aria-labe="Last">Last</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>