---
layout: default
---
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for resource in paginator.posts %}
                <div class="col">
                    <a class="text-decoration-none" href="{{ resource.url | relative_url }}">
                        <div class="card h-100 rounded-0">
                            <div class="ratio ratio-16x9">
                                <img class="img-fluid card-img-top rounded-0" src="{{ resource.img.url }}">
                            </div>
                            <div class="card-body">
                                <h1 class="card-title fs-3">{{ resource.title }}</h1>
                                <div class="card-text">
                                    {{ resource.description | default: resource.excerpt | markdownify }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if paginator.total_pages > 1 %}
    <!-- Pagination links -->
    <div class="row justify-content-center mt-5">
      <div class="col">
          <nav aria-label="Archives navigation">
              <ul class="pagination">
                  {% if paginator.first_page %}
                  <li class="page-item">
                      <a href="{{ paginator.first_page_path | relative_url }}" class="page-link" aria-label="First">First</a>
                  </li>
                  {% endif %}
                  {% if paginator.previous_page %}
                  <li class="page-item">
                      <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link" aria-label="Previous">&larr;</a>
                  </li>
                  {% endif %}
                  {% for trail in paginator.page_trail %}
                  <li class="page-item{% if page.url == trail.path %} active{%endif %}">
                      <a class="page-link" href="{{ trail.path | relative_url | replace: 'index.html', '' }}" title="{{trail.title}}">{{ trail.num }}</a>
                  </li>
                  {% endfor %}
                  {% if paginator.next_page %}
                  <li class="page-item">
                      <a href="{{ paginator.next_page_path | relative_url }}" class="page-link" aria-label="Next">&rarr;</a>
                  </li>
                  {% endif %}
                  {% if paginator.last_page %}
                  <li class="page-item">
                      <a href="{{ paginator.last_page_path | relative_url }}" class="page-link" aria-labe="Last">Last</a>
                  </li>
                  {% endif %}
              </ul>
          </nav>
      </div>
  </div>
  {% endif %}
</div>