---
layout: default
---
<main id="start-of-content" class="mb-8 mt-3">
    <div class="container-xl mx-auto">
        {{ content }}
        {% unless paginator.posts == nil or paginator.size == 0 %}
        {% assign resources = paginator.posts %}
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <section class="archive-section">
                {% for resource in resources %}
                    <article>
                        <div class="py-4 border-top">
                                {% unless page.thumbnail != nil and page.thumbnail == false  %}
                                <a class="d-block col-12 position-relative rounded-2 mb-3 overflow-hidden" href="{{ resource.url | relative_url }}"
                                title="{{ resource.title | smartify }}">
                                    <img class="d-block w-100 height-auto rounded-2" src="{{ resource.img.url }}" {% if forloop.index0 > 3 %}loading="lazy"{% endif %}
                                    alt="{{ resource.img.alt }}">
                                </a>
                                {% endunless %}
                                <h2 class="fw-black">
                                    <a class="resource-link text-reset" href="{{ resource.url | relative_url }}">Issue #{{ resource.issue }} &ndash; {{ resource.title | smartify }}</a>
                                </h2>
                                <h3 class="fs-5 fst-italic rw-brand-text-muted mb-3">
                                    {{ resource.subtitle }}
                                </h3>
                                <div class="resource-text">
                                    {{ resource.description | default: excerpt | markdownify }}
                                </div>
                                <div class="mt-3">
                                    <div class="d-flex align-items-center">
                                        <a class="d-inline-block fw-bold text-reset text-decoration-none" href="{{ resource.url | relative_url }}">
                                            {{ page.more_link_text | default: "Read" }}
                                            <i class="bi bi-arrow-right-circle"></i>
                                        </a>
                                    </div>
                                </div>
                        </div> 
                    </article>
                {% endfor %}
                </section>
            </div>
        </div>
        {% endunless %}
        {% include paginator.html %}
    </div>
</main>
