---
layout: default
---
<main id="start-of-content" class="mb-8 mt-3">
    <div class="container-xl mx-auto">
        {{ content }}
        {% unless paginator.posts == nil or paginator.size == 0 %}
        {% assign resources = paginator.posts %}
        <section class="archive-section">
            <div class="d-flex flex-wrap gutter-spacious">
            {% for resource in resources %}
                <article class="d-flex flex-column col-md-4">
                    <div class="py-4 border-top">
                        {% unless page.thumbnail != nil and page.thumbnail == false  %}
                        <a class="d-block col-12 position-relative rounded-2 mb-3 overflow-hidden" href="{{ resource.url | relative_url }}">
                            <img class="d-block w-100 height-auto rounded-2" src="{{ resource.img.url_sm | default: resource.img.url }}" alt="{{ resource.img.alt }}" loading="lazy" decoding="async">
                        </a>
                        {% endunless %}
                        <h3 class="h4 fw-black mb-2">
                            <a class="resource-link text-reset" href="{{ resource.url | relative_url }}">{{ resource.title | smartify }}</a>
                        </h3>
                        <div class="resource-text">
                            {{ resource.description | default: excerpt | markdownify }}
                        </div>
                        <div class="mt-3">
                            <div class="d-flex align-items-center">
                                <a class="d-inline-block fw-bold text-reset text-decoration-none" href="{{ resource.url | relative_url }}">
                                    {{ page.more_link_text | default: "Read" }}
                                    <i class="bi bi-arrow-right-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            </div>
        </section>
        {% endunless %}
        {% include paginator.html %}
    </div>
</main>
