---
layout: default
pagination:
    enabled: true
---
<main id="start-of-content">
    <div class="container mx-auto my-5 px-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 art-col">
                <div class="art-img text-center mb-5">
                    <img class="img-fluid rounded-2" src="{{ page.img.url }}" alt="{{ page.img.caption | strip_html }}" title="{{ page.img.caption | strip_html }}">
                    <span class="d-block mt-2">{{ page.img.caption }}</span>
                </div>
            <div class="resource-body art-description">
                {{ content }}
                </div>
            </div>
        </div>
    {% include nextprev.html %}
    </div>
</main>