<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d">

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
			<div class="alignleft">
	            <h3 class="masthead-title">
	              <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
	            </h3>
			</div>
			<div class="alignright">
				<ul class="navbar">
					{% for page in site.pages_list %}
					&nbsp;&nbsp;&nbsp;
					<li><a href="{{ site.baseurl }}{{ page[1] }}">{{ page[0] }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
	  
	  <div class="footer">
	  	{% include footer.html %}
	  </div>
    </div>
	
	{% include ga.html %}
	
    <script type="text/javascript">
	    var disqus_shortname = '{{ site.disqus_short_name }}';

	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function () {
	        var s = document.createElement('script'); s.async = true;
	        s.type = 'text/javascript';
	        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
	        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	    }());
    </script>
  </body>
</html>
