---
layout: default
---
<div class="container my-5 px-4 fieldnotes">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            <div class="border bg-light rounded p-4">
                <div class="mb-2">
                    <span>
                        <i class="bi bi-geo-alt-fill"></i>
                        <a href="{{ page.activity.location_url | default: '#' }}" target="_blank">{{ page.activity.location_name }}</a>
                    </span>
                </div>
                <div class="mb-2">
                    <span>
                        <i class="bi bi-calendar-event-fill"></i>
                        {{ page.activity.date | date: "%B %d, %Y"}}&nbsp;{{ page.activity.start_time | date: "%l:%M %p"}}
                    </span>
                </div>
                <div>
                    <span>
                        <i class="bi bi-thermometer-half"></i>
                        {{ page.activity.temp }}
                    </span>
                    &nbsp;
                    <span>
                        <i class="bi bi-person-walking"></i>
                        {{ page.activity.distance }}
                    </span>
                    &nbsp;
                    <span>
                        <i class="bi bi-stopwatch-fill"></i>
                        {{ page.activity.duration }}
                    </span>
                </div>
            </div>
            <article class="mt-4">
                <section class="resource-body border-bottom pb-3">
                    {{ content }}
                </section>
                <section class="resource-footer bg-light border rounded-2 mt-5 py-5 px-md-4">
                    <div class="text-center pt-3">
                        <img class="profile-img img-fluid rounded-circle" src="{{ site.data.profile.img.medium }}" width="200" height="200">
                        <span class="d-block fw-bold fs-1 py-3">{{ site.data.profile.name }}</span>
                    </div>
                    <div class="author-bio px-3 px-md-4 fs-5">{{ site.data.profile.bio | markdownify }}</div>
                </section>
            </article>
        </div>
    </div>
</div>