---
layout: default
---
<div class="container px-4 fieldnotes">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            {% unless page.activity.date == nil %}
            <div class="border bg-light rounded p-4 mb-4">
                <div class="mb-2">
                    <span>
                        <i class="bi bi-geo-alt-fill"></i>
                        <a href="{{ page.activity.location_url | default: '#' }}" target="_blank">{{ page.activity.location_name }}</a>
                    </span>
                </div>
                <div class="mb-2">
                    <span>
                        <i class="bi bi-calendar-event-fill"></i>
                        {{ page.activity.date | date: "%B %d, %Y"}}&nbsp;{{ page.activity.start_time | date: "%l:%M %p"}}
                    </span>
                </div>
                <div>
                    <span>
                        <i class="bi bi-thermometer-half"></i>
                        {{ page.activity.temp }}
                    </span>
                    &nbsp;
                    <span>
                        <i class="bi bi-person-walking"></i>
                        {{ page.activity.distance }}
                    </span>
                    &nbsp;
                    <span>
                        <i class="bi bi-stopwatch-fill"></i>
                        {{ page.activity.duration }}
                    </span>
                </div>
            </div>
            {% endunless %}
            <article>
                <section class="resource-body">
                    {{ content }}
                </section>
            </article>
            <hr class="border my-5 mx-auto w-25 opacity-50">
            {% include newsletter/subscribe-cta.html %}
            {% include author-bio.html %}
            <div class="mt-5">
                {% include nextprev.html %}
            </div>
        </div>
    </div>
</div>