---
layout: default
---
<main id="start-of-content" class="min-vh-100 mb-8 resource-body">
    <div class="container mx-auto pt-5">
        <div class="row px-lg-5 justify-content-center flex-wrap mb-5">
            <div class="col-12 col-md-10 col-lg-8">
                <img class="d-block rounded-2 img-fluid mw-lg-75 text-center" src="{{ page.logo.url }}" alt="Logo for The Weary Pilgrim Newsletter">
                <hr class="mx-auto my-5 w-50">
            </div>
            <div class="col-12 col-md-10 col-lg-7">
                {{ page.content }}
                <div class="d-block">
                    {% include newsletter-subscription-form.html %}
                </div>
            </div>
        </div>
        <div class="row px-3 px-lg-5">
            {% include newsletter/recent-issues.html %}
        </div>
    </div>
</main>