---
layout: default
---
<main id="start-of-content" class="mb-8 mt-3">
    <div class="container-xl mx-auto">
        {{ content }}
        {% unless paginator.posts == nil or paginator.size == 0 %}
        {% assign resources = paginator.posts %}
        <section class="archive-section photo-grid">
            <div class="d-flex flex-wrap gutter-spacious">
            {% for resource in resources %}
                <article class="d-flex flex-column col-md-6 mb-3">
                    <div class="py-4 border-top">
                        <a class="photo-wrapper d-block col-12 position-relative rounded-2 mb-3 overflow-hidden text-reset" href="{{ resource.url | relative_url }}" title="{{ resource.title }}">
                            <img class="photo-thumbnail d-block w-100 height-auto rounded-2 shadow-lg" src="{{ resource.img.thumb_url }}" alt="{{ resource.img.alt }}" loading="lazy">
                            <div class="photo-overlay overlay-full">
                                <div class="h3 text-white overlay-text">{{ resource.title }}</div>
                            </div>
                        </a>
                    </div>
                </article>
            {% endfor %}
            </div>
        </section>
        {% endunless %}
        {% include paginator.html %}
    </div>
</main>
