---
layout: default
---

<article class="entry">
	<header>
		<h1 class="entry-title">
			<a href="{{ site.url }}{{ post.url }}">{{ page.title }}</a>
		</h1>
		<div class="entry-meta">
			<span class="entry-date">{{ page.date | date: '%B %d, %Y' }}</span>
		</div>
	</header>
	
	<div class="entry-content">
	{{ content }}
	</div>
	
	<footer class="entry-footer">
		{% comment %}
		<div class="entry-sharing">
			<ul class="list-inline">
				<li>
					<a href="#">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-google-plus"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope"></i>
					</a>
				</li>
			</ul>
		</div>
		{% endcomment %}
		<div class="well well-small entry-about-author">
			<span class="show"><strong>About the author</strong></span>
			<img class="pull-left" src="http://ryanlwentzel.com/public/images/profile-color-78x78.jpg" />Ryan Wentzel is a family man, software developer, and a pastor at <a href="#">Grace Bible Church</a> in Escondido, CA.
			<span class="clearfix"></span>
		</div>
	</footer>
	
	{% if site.disqus_short_name and page.disable_comments != true %}
	{% include comments.html %}
	{% endif %}
	
</article>