---
layout: default
---
<div class="container my-5 px-4 {{ page.css_class }}">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            {%- include resource-byline.html %}
            <article>
                <section class="resource-body border-bottom pb-3">
                {%- if page.theme_verses %}
                    <p class="lead">
                        <em>{{ page.theme_verses.text }}</em>
                        {% if page.theme_verses.reference %}
                        <br>
                        <em>— {{ page.theme_verses.reference }}</em>
                        {% endif %}
                    </p>
                {%- endif %}
                {{ content }}
                </section>
                <section class="resource-footer bg-light border rounded-2 mt-5 py-5 px-md-4">
                    <div class="text-center pt-3">
                        <img class="profile-img img-fluid rounded-circle" src="{{ site.data.profile.img.medium }}" width="200" height="200">
                        <span class="d-block fw-bold fs-1 py-3">{{ site.data.profile.name }}</span>
                    </div>
                    <div class="author-bio px-3 px-md-4 fs-5">{{ site.data.profile.bio | markdownify }}</div>
                </section>
            </article>
        </div>
    </div>
</div>