---
layout: default
---
<div class="container px-4 {{ page.css_class }}">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            {%- include resource-byline.html %}
            <article>
                <section class="resource-body">
                {%- if page.theme_verses %}
                    <p class="lead">
                        <em>{{ page.theme_verses.text }}</em>
                        {% if page.theme_verses.reference %}
                        <br>
                        <em>— {{ page.theme_verses.reference }}</em>
                        {% endif %}
                    </p>
                {%- endif %}
                {{ content }}
                </section>
            </article>
            {% include author-bio.html %}
            {% include newsletter/subscribe-cta.html %}
            <div class="mt-5">
                {% include nextprev.html %}
            </div>
        </div>
    </div>
</div>