---
layout: default
---
<div class="container my-5 px-4 {{ page.css_class }}">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            {%- include resource-byline.html %}
            <article>
                <section class="resource-body border-bottom pb-3">
                {%- if page.theme_verses %}
                    <p class="lead">
                        <em>{{ page.theme_verses.text }}</em>
                        {% if page.theme_verses.reference %}
                        <br>
                        <em>— {{ page.theme_verses.reference }}</em>
                        {% endif %}
                    </p>
                {%- endif %}
                {{ content }}
                </section>
            </article>
            {% include nextprev.html %}
        </div>
    </div>
</div>