---
layout: default
---
<div class="container my-5 px-4 {{ page.css_class }}">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
            {%- include resource-byline.html %}
            <article>
                <section class="resource-body">
                    {{ content }}
                </section>
            </article>
            {% include newsletter/subscribe-cta.html %}
            {% include author-bio.html %}
            {% include nextprev.html %}
        </div>
    </div>
</div>