---
layout: default
---
<div class="container px-4 {{ page.css_class }}">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <article>
                <section class="resource-body">
                    {{ content }}
                </section>
            </article>
            <hr class="border my-5 mx-auto w-25 opacity-50">
            {% include newsletter/subscribe-cta.html %}
            {% include author-bio.html %}
            <div class="mt-5">
                {% include nextprev.html %}
            </div>
            {% include cta/support-me.html %}
        </div>
    </div>
</div>