---
layout: default
published: false
---

<main id="start-of-content" class="min-vh-100 mt-3 mb-8">
    <div class="container-xl mx-auto pt-5 px-3">
        <div class="row px-lg-5 justify-content-between flex-wrap">
            <div class="col-md-7">
                <h1 class="display-3 fw-bold mb-3">{{ page.title | smartify }}</h1>
                <p class="d-none d-md-block fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor consequat id porta nibh venenatis cras. Id leo in vitae turpis massa sed. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Mattis aliquam faucibus purus in massa. Amet justo donec enim diam vulputate. At urna condimentum mattis pellentesque. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Ipsum faucibus vitae aliquet nec ullamcorper. Rhoncus aenean vel elit scelerisque mauris pellentesque. Tortor pretium viverra suspendisse potenti nullam. Eget arcu dictum varius duis at consectetur lorem donec. Sit amet volutpat consequat mauris nunc congue nisi vitae. At tellus at urna condimentum. Etiam sit amet nisl purus in mollis nunc.</p>
            </div>
            <div class="col-md d-flex justify-content-start align-self-center">
                <img class="d-inline d-md-block rounded-2 img-fluid mw-400px" src="{{ site.data.cdn.img_assets_url }}/podcast/podcast-cover-art-800x800.png"
                    alt="The Ryan Wentzel Sermon Podcast cover art" loading="lazy">
            </div>
            <div class="col-12">
                <div class="d-block d-md-none mt-3">
                    <p class="mt-3 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor consequat id porta nibh venenatis cras. Id leo in vitae turpis massa sed. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Mattis aliquam faucibus purus in massa. Amet justo donec enim diam vulputate. At urna condimentum mattis pellentesque. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Ipsum faucibus vitae aliquet nec ullamcorper. Rhoncus aenean vel elit scelerisque mauris pellentesque. Tortor pretium viverra suspendisse potenti nullam. Eget arcu dictum varius duis at consectetur lorem donec. Sit amet volutpat consequat mauris nunc congue nisi vitae. At tellus at urna condimentum. Etiam sit amet nisl purus in mollis nunc.</p>
                </div>
            </div>
        </div>
</main>